.persons {
    padding: 100px 70px;
    
    &__slider {
        align-items: stretch;
        gap: 12px;
        position: relative;
        overflow: visible;
        margin-top: 50px;

        
    }
    &__slide {
        display: flex;
        flex-direction: column;
        align-items: stretch; 
        flex: 0 0 auto;
        width: auto;
        height: 504px;
        border-radius: 24px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: stretch; 
        flex: 0 0 auto;
        width: 320px;
        height: 100%;
        background-position: center;
        background-size: cover;
        border-radius: 24px;
        padding: 25px;
    }

    .swiper-button-prev,
        .swiper-button-next {
            background: #f4f2ef;
            border: 1px solid #e5e5e5;
            display: flex;
            z-index: 2;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            left: auto;
            right: auto;
            transition: all 0.3s ease;
        }

        .swiper-button-prev:after,
        .swiper-button-next:after {
            display: none;
        }
        .swiper-button-prev svg,
        .swiper-button-next svg {
            width: 16px;
            height: 18px;
        }
        .swiper-button-prev:hover svg,
        .swiper-button-next:hover svg {
            fill: #95d4fc;
            transition: all 0.3s ease;
        }

}